<div class="flex-box">
  <div>
    <nav class="nav-bar">
      <ul>
        <li><a routerLinkActive="active" routerLink="home">Home</a></li>
        <li><a routerLinkActive="active" routerLink="about">About</a></li>
        <li><a routerLinkActive="active" routerLink="services">Services</a></li>
        <li><a routerLinkActive="active" routerLink="contact-us">Contact us</a></li>
        <li><a routerLinkActive="active" routerLink="dashboard">Dashboard</a></li>
      </ul>
    </nav>
  </div>

  <div class="user-input">

    <div *ngIf="loggedOut; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate autocomplete="off">
        <input type="text" ngModel name="username" placeholder="username">
        <input type="password" ngModel name="password" placeholder="password">
        <button>Log in</button>
      </form>
    </ng-template>
    <ng-template #elseBlock>
      <button (click)="onLogOut()">Log Out</button>
    </ng-template>
    
  </div>
</div>

<router-outlet></router-outlet>


<!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <input name="first" ngModel required #first="ngModel">
  <input name="last" ngModel>
  <button>Submit</button>
</form> -->